@media screen and (min-width: 992px) {
    .pix-padding-style:not(.single-post) {
        &.use-clip-path {
            #page, #content {
                -webkit-clip-path: inset(0px);
                        clip-path: inset(0px);
                clip: rect(0px, auto, auto, 0px);
                overflow: auto;
                overflow: clip;
            }
        }
        &:not(.use-clip-path) {
            overflow: hidden;
            #page, #content {
                -webkit-clip-path: inset(0px);
                        clip-path: inset(0px);
                clip: rect(0px, auto, auto, 0px);
                overflow: hidden;
                overflow: clip;
            }
        }

    }
    .overflow-hidden-clip {
        -webkit-clip-path: inset(0);
                clip-path: inset(0);
        clip: rect(0px, auto, auto, 0px);
    }
    .overflow-x-clip {
        overflow-x: hidden !important;
        -webkit-clip-path: inset(0);
                clip-path: inset(0);
        clip: rect(0px, auto, auto, 0px);
    }
}
@media screen and (max-width: 992px) {
    .pix-padding-style:not(.single-post) {
        #page, #content {
            overflow: hidden;
			clear: both;
        }
    }
    .elementor.elementor-location-single {
		clear: both;
	}
    .overflow-hidden-clip {
        overflow: hidden;
    }
    .overflow-x-clip {
        overflow-x: hidden !important;
    }
}
// .pix-padding-style .elementor-location-header {
//     position: relative;
//     z-index: 999;
// }

@media (min-width: $mainMobileBreakpoint) {
    .admin-bar {
        header {
            top: 32px;
        }
        .pix-topbar.pix-topbar-fixed {
            top: 32px;
        }
        .pix-header.pix-header-fixed {
            top: 76px;
            &.pix-no-topbar {
                top: 32px;
            }
            &.is-scroll {
                top: 32px;
            }
        }
        .pix-header.pix-header-normal {
            &.is-scroll {
                top: 32px;
            }
        }
    }
}

.entry-footer { display: none; }

.pix-top-bar {
    .social a {
        &:first-child { margin-left: 0px; }
    }
}
// .error-404 { z-index: 99 !important; }
.vc_row {
    position: relative;
}

.vc_row_visible, .vc_section_visible {
    overflow: visible !important;
}
.vc_element.vc_pix_map { display: contents !important; }

.vc_element.element-content_box {
    margin-top: 32px !important;
}

.pix-contact7-form {
    p {
        margin-bottom: 0px;
    }
    .ajax-loader:not(.is-active){
        display: none;
    }
}

.site-footer2 {
    width: 100% !important;
    bottom: 0;
    overflow: hidden;
}

.particles-wrapper {
    position: relative;
    z-index:2;
    width: 100%;
}

.particles-container {
    width: 100vw;
    z-index:1;
    margin-left: calc(-50vw + 50%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: inline-block;
    pointer-events: auto !important;
}
.pix-particle {
    position: absolute;
}
.pix-scene {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: absolute;
    left: 0;
    top:0;
    display: block;
    z-index: 3;
    &.is-behind {
        z-index: 0;
    }
    width: 100vw;
    height: 100% !important;
    .pix-scene-particle {
        position: absolute !important;
        display: block;
        width: 100%;
        height: 100%;
        .pix-scene-elm {
            content-visibility: auto;
            -webkit-transition: all 0.4s cubic-bezier(0.365, 0.84, 0.44, 1);
            transition: all 0.4s cubic-bezier(0.365, 0.84, 0.44, 1);
            position: absolute;
        }
    }
}

.jarallax-elm-slow, .jarallax-elm-slow img {
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pix-particles {
    position: absolute;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 992px) {
    .pix-particles {
        display: inline-block;
        width: 100%;
        position: relative;
    }
    .pix-particle {
        right: 0 !important;
        top: 0 !important;
        width: 100% !important;
    }
    .pix-scene {
        position: relative;
        display: block;
    }
    .pix-hide-sm {
        display: none;
    }
    .jarallax-elm {
        width: 100% !important;
    }
    .pix-divider svg {
        max-height: 180px !important;
    }
    .pix-particle-sm-hide {
		display:none !important;
	}
}

.inner-particles-container {
    width: 100%;
    z-index:1;
    position: absolute;
    left: 0;
    height: 100%;
    display: inline-block;
}
.scene {
    position: absolute;
    left: 0;
    top:0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    .pix-scene-particle {
        position: absolute !important;
        display: block;
        width: 100%;
        height: 100%;
        .pix-scene-elm {
            -webkit-transition: all 0.4s cubic-bezier(0.365, 0.84, 0.44, 1);
            transition: all 0.4s cubic-bezier(0.365, 0.84, 0.44, 1);
            position: absolute;
        }
    }
    &.scene-over {
        z-index: 10;
    }

}
.pix-scene-particle .animate-in {
    will-change: auto !important
}

.p-relative {
    position: relative;
}

.vc_row-o-equal-height .wpb_wrapper {
    height: 100%;
    .pix-content-box.full-height {
        height: 100%;
    }
}

// Comments
.bypostauthor > .media {
    background: #fff;
    border-radius: .3rem;
    box-shadow: $box-shadow-sm !important;
    -webkit-transition: $box-shadow-transition;
    transition: $box-shadow-transition;
}
.bypostauthor > .media:hover {
    box-shadow: $box-shadow-hover-sm !important;
}

.feature_img {
    position: relative;
}

// Remove empty paragraphs
p:empty{
    height: 0;
    margin: 0;
    padding: 0;
    display: none;
}

@media screen and (min-width: 992px) {
    .post-full-width .alignwide {
        margin-left  : -100px;
        margin-right : -100px;
        max-width    : 920px;
    }
    .pix_tabs_btns .nav-item {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.bg-video::-webkit-media-controls-start-playback-button, .bg-video::-webkit-media-controls {
    display: none !important;
    pointer-events: none;
    -webkit-appearance: none;
}

.pix-video-bg-element {
    max-width: 100%;
    height: auto;
    outline: none;
}

.pix-svg-box-shadow svg  {
    -webkit-filter: drop-shadow( 0px -4px 2px 5px rgba(0, 0, 0, .1)) !important;
            filter: drop-shadow( 0px -4px 2px 5px rgba(0, 0, 0, .1)) !important;
}

.pix-floating-meta {
    -webkit-transition: $transition-base;
    transition: $transition-base;
    &.is-hidden {
        opacity: 0 !important;
    }
}

.pix-related-items .item-full-content {
    padding-top: 150px;
}

.card-group .vc_element.vc_pix_pricing {
    -webkit-box-flex: 1 !important;
            flex: 1 !important;
}

.elementor-editor-active {
    .pix-topbar, .pix-header {
        pointer-events: none;
        z-index: 1000;
        * {
            pointer-events: none;
            z-index: 1000;
        }
    }
}

.pix-slider:not(.flickity-enabled) {
    .flickity-viewport, .flickity-slider, .carousel-cell {
        width: 100%;
    }
}

.wpb_column.vc_column_container { z-index: 30; }

.vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner,
.vc_section.vc_section-has-fill {
    padding-top: 0;
}
footer {
    .vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner {
        padding-top: 0 !important;
    }
}


.vc_column-inner, .wpb_wrapper { position: relative; }

// Wordpress fixes
@media (max-width: 768px) {
    .wpb_column.vc_column_container:not(.vc_hidden-sm):not(.vc_hidden-xs) { display: inline-block !important; }
    .wp-block-media-text {
        display: inline-block !important;
        .wp-block-media-text__content {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }
    }
}
.pix-scale-in, .pix-scale-in-xs, .pix-scale-in-sm, .pix-scale-in-lg {
    will-change: transform;
}
.pix-particles-overflow-hidden .pix-scene-particle {
    overflow: hidden !important;
}


img.pix-img-elem {
    max-width: 100% !important;
}

// .tilt, .tilt_small, .tilt_big {
//     transform-style: preserve-3d;
//     -webkit-transform-style: preserve-3d;
// }
.wp-block-audio { width: 100%; }
body:not(.render) .search-bar.pix-overlay-item {
    -webkit-transition: $transition-base;
    transition: $transition-base;
    opacity: 0 !important;
}
#wpadminbar {
    z-index: 999999;
}
@media screen and (min-width: 920px) {
    article:not(.post-sidebar-right):not(.post-sidebar-left){
        .alignfull {
            margin: 10px calc(50% - 50vw);
            max-width: 100vw;
            width: 100vw;
            iframe {
                width: 100%;
            }
        }
        .alignwide {
            width: 130%;
            max-width: 1200px;
            margin-left: -15%;
            margin-right: -15%;

        }
    }
}

@media (max-width: 920px) {
    article:not(.post-sidebar-right, .post-sidebar-left){
        .alignwide {
            margin: 10px calc(50% - 50vw);
            max-width: 100vw;
            width: 100vw;
        }
    }
    article {
        figure ,iframe {
            max-width: 100%;
        }
    }
}
.wp-block-button, .wp-block-cover, img.aligncenter, img.alignnone {
    margin-bottom: 15px;
}
.widget img.size-large {
    height: auto;
}
.widget .dropdown.bootstrap-select {
    width: 100% !important;
}
.widget .dropdown-menu {
    max-width: 100%;
    .dropdown-item .text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
}
.widget.widget_pages .page_item {
    margin: 10px 0;
    font-weight: bold;
}
.page-links {
    margin-top: 15px;
    font-weight: $font-weight-bold;
    .post-page-numbers {
        background: $white;
        padding: 5px 10px;
        margin-left: 5px;
        border-radius: 4px;
        box-shadow: $box-shadow-sm !important;
        color: $body-color;
        &.current {
            color: $heading-color;
        }
    }
}
.wp-block-search {
    margin-bottom: 15px;
    input {
        background: #fff;
        border: 0px !important;
        outline: none;
        box-shadow: $box-shadow-sm !important;
        border-radius: 4px;
    }
    button {
        font-weight: bold;
        display: inline-block;
        font-weight: $btn-font-weight;
        // color: $body-color;
        color: color-yiq-ld($primary) !important;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background-color: transparent;
        border: $btn-border-width solid transparent;
        margin-right: 10px;
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
        @include transition($btn-transition);
        @include hover {
            color: $body-color;
            text-decoration: none;
            @include fly-sm();
        }
        @include button-variant($primary, $primary, darken($primary, 4%));
        box-shadow: $box-shadow-sm !important;
    }
}
.entry-content ul,
.elementor-section-wrap ul {
    list-style: initial !important;
}
.entry-content h1,
.wp-block-gallery .blocks-gallery-caption {
    width: 100%;
}
.comment {
    h3, h4, h5, h6 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h1, h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.entry-content, .comment {
    blockquote {
        font-size: $h6-font-size;
        text-align: center;
        padding: 30px 0;
        font-style: italic;
        &.has-text-align-right {
            text-align: right;
        }
    }
}

.wp-calendar-table {
    margin-bottom: 0px !important;
    caption {
        font-weight: bold;
    }

}
.wp-calendar-nav span a {
    font-weight: bold;
    text-decoration: none;

}
.widget_meta ul li a {
    font-weight: bold;
}


/*
* Default WP Alignment Classes
*****************************************************************************/
.aligncenter,.alignleft,.alignright {
    display: block;
    padding: 0;
}

.aligncenter {
    float: none;
    margin: .5em auto 1em;
}

.alignright {
    float: right;
    margin: .5em 0 1em 1em;
}

.alignleft {
    float: left;
    margin: .5em 1em 1em 0;
}

.wp-block-columns.alignfull, .alignfull:not(.has-background) .wp-block-columns {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.wp-caption {
    padding: 5px 0;
    text-align: center;
}

.wp-caption img {
    display: inline;
}

.wp-caption p.wp-caption-text {
    padding: 0;
    text-align: center;
    font-size: 75%;
    font-weight: 100;
    font-style: italic;
    color: #aaa;
}
.pix-scene-elm {
    pointer-events: none;
}

article {
    img {
        height: auto;
    }
    figure:not(.wp-block-embed-twitter) {
        display: inline-block;
        &.aligncenter {
            display: block;
        }
    }
    ul {
        list-style: initial;
    }
}
.single-portfolio img {
    height: auto;
}
.comment {
    .media {
        max-width: 100%;
        display: -webkit-box;
        display: flex;
        .media-body {
            max-width: 100%;
            overflow: auto;
        }
    }
    img.avatar {
        min-width: 60px;
    }
}
table:not(.table) {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    box-sizing: border-box;
    .pad {
        border: 0px solid transparent;
        opacity: 0;
        &:after, &:before {
            opacity: 0;
        }
    }
    tr {
        padding: 10px 0;
        display: table-row;
        box-sizing: border-box;
        border-spacing: 2px;
        vertical-align: inherit;
        border-collapse: collapse;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        td {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}
.wp-block-separator {
    max-width: 200px;
    &.is-style-wide {
        width: 100%;
        max-width: 100%;
    }
}
// .wp-block-group__inner-container {
//     padding: 15px;
// }

figure.wp-block-embed.is-type-video {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;


}
figure.wp-block-embed.is-type-video iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.wp-block-embed {
    // Add responsiveness to common aspect ratios.
    &.wp-embed-aspect-21-9,
    &.wp-embed-aspect-18-9,
    &.wp-embed-aspect-16-9,
    &.wp-embed-aspect-4-3,
    &.wp-embed-aspect-1-1,
    &.wp-embed-aspect-9-16,
    &.wp-embed-aspect-1-2 {
        position: relative;

        &:before {
            display: block;
            content: "";
            padding-top: 50%; // Default to 2:1 aspect ratio.
        }
        &:after {
            display: block;
            clear: both;
            content: "";
        }
    }

    &.wp-embed-aspect-21-9:before {
        padding-top: 42.85%; // 9 / 21 * 100
    }

    &.wp-embed-aspect-18-9:before {
        padding-top: 50%; // 9 / 18 * 100
    }

    &.wp-embed-aspect-16-9:before {
        padding-top: 56.25%; // 9 / 16 * 100
    }

    &.wp-embed-aspect-4-3:before {
        padding-top: 75%; // 3 / 4 * 100
    }

    &.wp-embed-aspect-1-1:before {
        padding-top: 100%; // 1 / 1 * 100
    }

    &.wp-embed-aspect-9-6:before {
        padding-top: 66.66%; // 6 / 9 * 100
    }

    &.wp-embed-aspect-1-2:before {
        padding-top: 200%; // 2 / 1 * 100
    }
}
.pix-main-intro .pix-sliding-headline span, .pix-post-title span,
.pix-main-intro h1 span, .pix-post-title span {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}
.widget_calendar tbody a, .wp-block-calendar tbody a {
    position: relative;
}

.post-password-form {
    input[type="submit"] {
        display: inline-block;
        color: $body-color;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        border: $btn-border-width solid transparent;
        margin-right: 10px;
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
        @include transition($btn-transition);
        @include hover {
            color: $body-color;
            text-decoration: none;
        }
        &:focus,
        &.focus {
            outline: 0;
            box-shadow: $btn-focus-box-shadow;
        }
        @include button-variant($primary, $primary, darken($primary, 4%));
        @extend .btn-md;
        font-weight: bold;
        padding: 0.47rem 1.5rem;
    }
    label {
        margin-right: 5px;
    }
    input[type="password"] {
        @extend .form-control;
    }
}

.navigation.comment-navigation {
    display: inline-block;
    width: 100%;
    a {
        font-weight: bold;
        display: inline-block;
        font-weight: $btn-font-weight;
        color: $body-color;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        border: $btn-border-width solid transparent;
        margin-right: 10px;
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
        @include transition($btn-transition);
        @include hover {
            color: $body-color;
            text-decoration: none;
        }
        i {
            position: relative;
            vertical-align: middle !important;
        }
        &:focus,
        &.focus {
            outline: 0;
            box-shadow: $btn-focus-box-shadow;
        }
        @extend .btn-white;
        box-shadow: $box-shadow-sm !important;
    }
}
.wp-block-image {
    .aligncenter {
        text-align: center;
        figcaption {
            width: 100%;
            display: inline-block;
        }
    }
}
.wp-caption figcaption {
    font-size: 0.9rem;
}
video[poster]{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.entry-header {
    .pix-post-entry-author {
        min-width: 150px;
        display: inline-block;
    }
    .pix-post-entry-date {
        min-width: 100px;
    }
}

.pix-post-format-btn.pix-format-quote {
    pointer-events: none;
}
.wpb_text_column .widget.widget_recent_comments ul, .wpb_content_element .widget.widget_recent_comments  ul {
    list-style: none !important;
}
// .jarallax > div > div { display:none!important; }
// .jarallax > [id^=jarallax-container] > div { display:none!important; }
// .jarallax iframe { display:none !important; }
// Firefox fix
.container, .container-fluid {
    >.row { clear:both }
}
// .container-fluid .row { max-width: 100%; }
.jconfirm .jconfirm-box div.jconfirm-content-pane.no-scroll {
    overflow-y: visible !important;
    max-height: inherit !important;
}
.pix-popup-content-div .pix-scene {
    overflow: hidden;

}
.pix-popup-content-div .particles-container {
    pointer-events: none !important;
}
.particles-container {
    pointer-events: none;
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
}

#masthead:not(.sticky-top):not(.is-scroll) {
    position:relative;
    top: 0;
}
.pix-h-auto, .pix-video-thumbnail {
    height: auto;
}
.wp-block-embed__wrapper {
    position: initial !important;
}
.elementor[data-elementor-type="wp-page"] {
    position: relative;
    // z-index: 2;
    float: left;
    width: 100%;
}
.elementor[data-elementor-type="wp-post"] {
    clear: both;
}
body:not(.pix-sections-stack) #page > .elementor {
	position: relative;
    z-index: 2;
}

body .fancybox-container, body .dialog-widget.dialog-lightbox-widget.elementor-lightbox {
    z-index: 9999999;
}

// html {
//
//   // set height + overflow
//   // --scroll-gap: 0em;
//   height: 100vh !important;
//   overflow: auto !important;
//   // padding: var(--scroll-gap);
//   // set scroll snap 👇
//   scroll-snap-type: y mandatory  !important;
//
//
//   .site-content section, footer:not(.pix-sticky-footer) {
//     // set alignment 👇
//     scroll-snap-align: start end;
//
//     // set height
//     // min-height: calc(100vh);
//
//   }
// }

// @if not variable-exists(custom-container) {
//     $custom-container-width: 1140px;
// }
// @if variable-exists(custom-container) {
//     $custom-container-width: $custom-container;
// }
// @media screen and (min-width: 1200px) {
//     body.pix-boxed-layout {
//
//         padding-left: calc( (100% - #{$custom-container-width}) / 2) !important;
//         padding-right: calc( (100% - #{$custom-container-width}) / 2) !important;
//
//         .header.is-scroll, .pix-header-normal {
//             width: $custom-container-width !important;
//             left: calc( (100% - #{$custom-container-width}) / 2) !important;
//             right: calc( (100% - #{$custom-container-width}) / 2) !important;
//         }
//         .pix-sticky-footer, .pix-footer-overlay {
//             width: $custom-container-width !important;
//             left: auto !important;
//         }
//         section[data-vc-full-width="true"] {
//             width: $custom-container-width !important;
//             left: 0px !important;
//             padding-left: 0px !important;
//             padding-right: 0px !important;
//             margin-left: -15px !important;
//         }
//         .vc_section.vc_section-has-fill[data-vc-full-width="true"]>.pix-divider, .vc_section.vc_section-has-fill[data-vc-full-width="true"]>.pix_element_overlay {
//             width: 100% !important;
//             left: 0px !important;
//             margin-left: 0px !important;
//         }
//         .vc_row[data-vc-full-width="true"] {
//             max-width: $custom-container-width !important;
//             width: $custom-container-width !important;
//             left: 0px !important;
//             padding-left: 0px !important;
//             padding-right: 0px !important;
//         }
//
//         .elementor-section {
//             width: $custom-container-width !important;
//             margin-left: -15px !important;
//             left: 0 !important;
//         }
//     }
// }
//
//
// @if not variable-exists(custom-boxed-width) {
//     $custom-boxed-width: 150px;
// }
// $custom-boxed-container-width: calc( 100vw - (#{$custom-boxed-width} * 2) );
// @media screen and (min-width: 1200px) {
//     body.pix-custom-boxed-layout {
//
//         padding-left: $custom-boxed-width !important;
//         padding-right: $custom-boxed-width !important;
//
//         .header.is-scroll, .pix-header-normal {
//             width: $custom-boxed-container-width !important;
//             left: $custom-boxed-width !important;
//             right: $custom-boxed-width !important;
//         }
//         .pix-sticky-footer, .pix-footer-overlay {
//             width: $custom-boxed-container-width !important;
//             left: auto !important;
//         }
//         section[data-vc-full-width="true"] {
//             left: 0px !important;
//             padding-left: 0px !important;
//             padding-right: 0px !important;
//             width: $custom-boxed-container-width !important;
//             margin-left: calc(-100vw / 2 + 100% / 2 + #{$custom-boxed-width}) !important;
//             margin-right: calc(-100vw / 2 + 100% / 2 + #{$custom-boxed-width}) !important;
//         }
//         .vc_section.vc_section-has-fill[data-vc-full-width="true"]>.pix-divider, .vc_section.vc_section-has-fill[data-vc-full-width="true"]>.pix_element_overlay {
//             width: 100% !important;
//             left: 0px !important;
//             margin-left: 0px !important;
//         }
//         .vc_row[data-vc-full-width="true"] {
//             // max-width: $custom-boxed-container-width !important;
//             // width: $custom-boxed-container-width !important;
//             // left: 0px !important;
//             // padding-left: 0px !important;
//             // padding-right: 0px !important;
//             max-width: $custom-boxed-container-width !important;
//             left: 0px !important;
//             padding-left: 0px !important;
//             padding-right: 0px !important;
//             width: $custom-boxed-container-width !important;
//             margin-left: calc(-100vw / 2 + 100% / 2 + #{$custom-boxed-width}) !important;
//             margin-right: calc(-100vw / 2 + 100% / 2 + #{$custom-boxed-width}) !important;
//
//         }
//
//         .elementor-section {
//             width: $custom-boxed-container-width !important;
//             margin-left: calc(-100vw / 2 + 100% / 2 + #{$custom-boxed-width}) !important;
//             margin-right: calc(-100vw / 2 + 100% / 2 + #{$custom-boxed-width}) !important;
//             left: 0 !important;
//         }
//     }
// }

a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
}

.pix-backface-hidden {
    -webkit-backface-visibility: hidden !important;
            backface-visibility: hidden !important;
    * {
        -webkit-backface-visibility: hidden !important;
                backface-visibility: hidden !important;
    }
}

@media screen and (max-width: 992px) {
    .pix-padding-style {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

// fix flickering in safari and ios
.pix-is-safari .pix-headline {
    overflow: hidden;
    z-index: 0;
    position:relative;
}
