@if index($hamburger-types, 3dx-r) {
  /*
   * 3DX Reverse
   */
  .hamburger--3dx-r {
    .hamburger-box {
      -webkit-perspective: $hamburger-layer-width * 2;
              perspective: $hamburger-layer-width * 2;
    }

    .hamburger-inner {
      -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1),
                  -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1),
                  -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
                  background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
                  background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1),
                  -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

      &::before,
      &::after {
        -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }

    &.is-active {
      .hamburger-inner {
        background-color: transparent !important;
        -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);

        &::before {
          -webkit-transform: translate3d(0, $hamburger-layer-height + $hamburger-layer-spacing, 0) rotate(45deg);
                  transform: translate3d(0, $hamburger-layer-height + $hamburger-layer-spacing, 0) rotate(45deg);
        }

        &::after {
          -webkit-transform: translate3d(0, ($hamburger-layer-height + $hamburger-layer-spacing) * -1, 0) rotate(-45deg);
                  transform: translate3d(0, ($hamburger-layer-height + $hamburger-layer-spacing) * -1, 0) rotate(-45deg);
        }
      }
    }
  }
}
