.fancy_card {
    border-radius: 5px;
    z-index: 5;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 20px 10px 58px rgba(0, 0, 0, 0.3);
    position: relative;
    -webkit-transform-style: preserve-3d !important;
            transform-style: preserve-3d !important;
    &:hover {
        z-index: 20;
        box-shadow: 20px 10px 58px rgba(0, 0, 0, 0.3);
        &:after {
            box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.08), -1px 50px 40px -40px rgba(0,0,0,.1), -1px 30px 30px -60px rgba(0,0,0,1) !important;
        }
    }

    .card-img img {
        border-radius: 5px;
    }
    img.card-img  {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(1px) scale(1.0, 1.0);
        transform: translateZ(1px);
        pointer-events: none;
        pointer-events: none;
        -webkit-transition: $transition-base;
        transition: $transition-base;
    }
    .card-img-overlay {
        -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
        z-index: 200;
        -webkit-transform: translateZ(2px);
                transform: translateZ(2px);
        -webkit-transform-style: preserve-3d !important;
                transform-style: preserve-3d !important;
        .card-content-box {
            width:100%;
        }
        .card-title {
            -webkit-transform: translate3d(0, 0, 55px);
                    transform: translate3d(0, 0, 55px);
        }
        .card-text {
            -webkit-transform: translate3d(0, 0, 45px) ;
                    transform: translate3d(0, 0, 45px) ;
        }
        .btn {
            // transform: translate3d(0, 0, 35px) ;
            cursor: pointer;
        }

    }
    .card-overlay-bg {
        position: absolute;
        z-index: 99;
        top:0;
        -webkit-transform-style: preserve-3d !important;
                transform-style: preserve-3d !important;
        left:0;
        display: block;
        width: 100%;
        height: 100%;
        -webkit-filter: opacity(0.7);
                filter: opacity(0.7);
        pointer-events: none;
        -webkit-transition: $transition-base;
        transition: $transition-base;
    }
    &:hover {
        .card-overlay-bg {
            -webkit-filter: opacity(0.4);
                    filter: opacity(0.4);
        }
    }

}

.fancy_portfolio_card {
    .card-img-overlay {
        border: 5px solid rgba(0,0,0,0.1);
        &:hover {
            border: 0px;
        }
    }
}

.hover-in{
    -webkit-transform: translate3d(0, 0, 235px);
            transform: translate3d(0, 0, 235px);
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.hover-out{
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.pix-info-card {
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
        .card-img-blur {
            -webkit-filter: blur(1rem) !important;
                    filter: blur(1rem) !important;
        }
    }
    .card-content-box {
        position: relative;
        background: rgba(255,255,255,0.8);
        overflow: hidden;
        z-index: 3;
        .card-img-blur {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            pointer-events: none;
            background-position: top;
            &.bottom-blur {
                background-position: bottom;
            }
            background-size: cover;
            -webkit-filter: blur(0.5rem);
                    filter: blur(0.5rem);
            -webkit-transition: -webkit-filter 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: -webkit-filter 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: filter 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: filter 0.3s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-filter 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            z-index: -1;
            opacity: 0.8;
        }
        &:before {
            content: '';
            padding: 20px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            -webkit-filter: blur(0.5rem);
                    filter: blur(0.5rem);
        }
    }
}

.pix-box {
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 2 !important;
    display: inline-block;
    position: relative;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    &:hover {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.01);
                transform: scale(1.01);

    }
    &:after {
        content: "";
        border-radius: $card-border-radius;
        position: absolute;
        z-index: -1 !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:hover::after {  box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.18), -1px 50px 40px -40px rgba(0,0,0,.14), -1px 30px 30px -60px rgba(0,0,0,1);opacity: 1; }
}
.pix-box-inverse {
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 2 !important;
    display: inline-block;
    position: relative;
    padding: 0px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    &:hover {
        -webkit-transform: scale(0.985);
                transform: scale(0.985);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    }
    &:after {
        content: "";
        border-radius: $card-border-radius;
        position: absolute;
        z-index: -1 !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &:after { box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.18), -1px 50px 40px -40px rgba(0,0,0,.14), -1px 30px 30px -60px rgba(0,0,0,1);opacity: 1; }
    &:hover::after {  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); }
}

.pix-fancy-mockup {
    position: relative;
    display: block;
    pointer-events: none;
    will-change: transform;
    // transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    perspective-origin: 50% 100% !important;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    -webkit-perspective: 1110px;
    perspective: 1110px;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%;
    .pix-fancy-device-img {
        will-change: transform;
        -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(26deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(26deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        vertical-align: middle;
        display: block;
        max-height: 100%;
        max-width: 100%;
        margin-bottom: 60px;
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 12;
    }
    .pix-fancy-content {
        position: absolute;
        -o-object-fit: cover;
           object-fit: cover;
        width: 86%;
        left: 0px;
        top: 0px;
        right: 0px;
        display: block;
        height: 92%;
        margin-top: 3%;
        z-index: 2;
        margin-right: auto;
        margin-left: auto;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        img {
            will-change: transform;
            -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(26deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(26deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
            -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
            vertical-align: middle;
            z-index: 2;
            -o-object-fit: cover;
               object-fit: cover;
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
            left: 0;
            top: -2px;
            position: absolute;
        }
    }
}
