.pix-intro-1 {
    position: relative;
    &:not(section){
        width: 100%;
        display: inline-block;
    }
    .pix-intro-img {
        position: absolute;
        opacity: 0.9999;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: inline-block;
        box-sizing: border-box;
        img {
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            -webkit-transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            -webkit-transform: scale(1.4);
                    transform: scale(1.4);
            z-index: 10;
            &.animated {
                -webkit-transform: scale(1);
                        transform: scale(1);
                z-index: 10;
                -webkit-transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),  -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),  -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),  opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
                transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),  opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),  -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                &.slow-transition {
                    -webkit-transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),  -webkit-transform 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
                    transition: opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),  -webkit-transform 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
                    transition: transform 0.05s cubic-bezier(0.165, 0.84, 0.44, 1),  opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
                    transition: transform 0.05s cubic-bezier(0.165, 0.84, 0.44, 1),  opacity 0.2s cubic-bezier(0.165, 0.84, 0.44, 1),  -webkit-transform 0.05s cubic-bezier(0.165, 0.84, 0.44, 1);
                }
            }
        }
    }
    .pix-intro-video {
        position: absolute;
        opacity: 1;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: inline-block;
        -webkit-transform: scale(1.4);
                transform: scale(1.4);
        opacity: 0;
        -webkit-transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        &.animated {
            -webkit-transform: scale(1);
                    transform: scale(1);
            opacity: 0.5;
            -webkit-transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: opacity 4.5s cubic-bezier(0.165, 0.84, 0.44, 1), transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 3.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        .jarallax {
            position: absolute;
            top:0;
            width: 100%;
            height: 100%;
            display: inline-block;
        }
        &.is-gray {
            -webkit-filter: grayscale(1);
                    filter: grayscale(1);
        }
    }
}

body:not(.pix-padding-style) .pix-intro-1 .pix-intro-img img {
    left:0 !important;
}
.pix-is-safari {
    .pix-intro-1 {
        .pix-intro-img {
            img.jarallax-img {
                box-sizing: border-box;
                -webkit-transition: all 0s !important;
                transition: all 0s !important;
                will-change: transform;
                &.animated {
                    -webkit-transition: all 0s !important;
                    transition: all 0s !important;
                    &.slow-transition {
                        -webkit-transition: all 0s !important;
                        transition: all 0s !important;
                    }
                }
            }
        }
    }
}
.fullpage-container {
    width:100vw;
    height:100%;
    top:0;
    left:0;
    z-index:1;
    margin-left: calc(-50vw + 50%);
    position: absolute;
    display: inline-block;
    pointer-events: none;
}
section.pix-intro-1:not([data-vc-full-width="true"]) {
    .fullpage-container {
        width: 100%;
        left: auto;
        right: 0;
        img {
            width: 100% !important;
        }
    }
}
