.google-container {
    position: relative;
    width: 100%;
    height: 200px;
}
@media only screen and (min-width: 768px) {
    .google-container {
        height: 600px;
    }
    .map-sm {
        .google-container {
            height: 200px;
        }
    }
    .map-md {
        .google-container {
            height: 400px;
        }
    }
    .pix-map-out.full-height {
        height: 100%;
        min-height: 50px;
        .google-container,
        .pix-google-map {
            height: 100% !important;
            min-height: 50px;
        }
    }
}

.pix-google-map {
    position: relative;

    display: -webkit-box;

    display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;

}
.pix-google-map address {
    position: absolute;
    max-width: 90%;
    min-width: 50%;
    bottom: 0;
    padding: 1em 1em;
    color: white;
    font-size: 13px;
    font-size: 0.8125rem;
}
@media only screen and (min-width: 768px) {
    .pix-google-map address {
        font-size: 15px;
        font-size: 0.9375rem;
        text-align: center;
    }
}
.pix-zoom-in, .pix-zoom-out {
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 10px;
    line-height: 32px;
    text-align: center;
    opacity: 1;
    -webkit-transition: $transition-base;
    transition: $transition-base;
    i {
        line-height: 32px;
        font-size: 16px;
        color: #fff;
        vertical-align: middle;
    }
}
.no-touch .pix-zoom-in:hover, .no-touch .pix-zoom-out:hover {
    opacity: 0.9;
}
.pix-zoom-in {
    margin-top: 10px;
    margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
    .pix-zoom-in {
        margin-top: 10px;
    }
}
