.back_to_top {
    width:50px;
    height:50px;
    position:fixed;
    bottom: -30px;
    right: 30px;
    display: inline-block;
    text-align: center;
    opacity: 0;
    z-index: 99999;
    &.is-left {
        right: auto;
        left: 30px;
    }
    i {
        line-height: 50px;
        font-size: 30px;
        display: inline-block;
        position: relative;
    }
    &.active {
        opacity: 1;
        bottom: 30px;
    }
    &:focus {
        outline: none !important;
    }
}
