// Typography

@mixin text-emphasis-variant($parent, $color) {
    #{$parent} {
        color: $color !important;
    }
    @if $emphasized-link-hover-darken-percentage != 0 {
        a#{$parent} {
            @include hover-focus {
                color: darken($color, $emphasized-link-hover-darken-percentage) !important;
            }
        }
    }
    #{$parent} svg {
        path, rect, circle, polygon {
            fill: $color !important;
        }
    }
}
@mixin text-emphasis-transparent-variant($parent, $color, $opacity, $name) {
    #{$parent} {
        color: rgba($color, $opacity) !important;
    }

    a#{$parent} {
        @include hover-focus {
            color: rgba(darken($color, 15%), $opacity) !important;
        }
        &:focus,
        &:active {
            color: rgba(darken($color, 20%), $opacity) !important;
        }
        &.btn span:before {
            background: rgba($color, $opacity) !important;
        }
    }

    $new-color: ( $name: rgba($color, $opacity));

    #{$parent} svg {
        path, rect, circle, polygon {
            fill: rgba($color, $opacity) !important;
        }
    }
}
