.nav-pills {
  .nav-link {
    color: $body-color;
  }
}

.nav-pills.pix-pills-1 {
    @include border-radius($nav-pills-border-radius);
  .nav-link {
      -webkit-transition: $transition-base;
      transition: $transition-base;
      font-size: $font-size-lg *1;
      background: transparent;
    i {
        line-height: 1rem;
    }
  }
  .nav-link:not(.active) {
      opacity: 0.7;
  }
  .nav-link:not(.active):hover {
      opacity: 1;
  }
  .nav-link.active,
  .show > .nav-link {
    box-shadow: $box-shadow-lg !important;
    opacity: 1;
    background: -webkit-gradient(linear, left top, left bottom, from($gradient-direction), color-stop($gradient-primary-1), to($gradient-primary-2)) fixed;
    background: linear-gradient($gradient-direction, $gradient-primary-1, $gradient-primary-2) fixed;
  }
}


.nav-pills.pix-pills-solid {
    @include border-radius($nav-pills-border-radius);
  .nav-link {
      -webkit-transition: $transition-base;
      transition: $transition-base;
      font-size: $font-size-lg *1;

      background: transparent;
    i {
        line-height: 1rem;
    }
  }
  .nav-link:not(.active) {
      opacity: 0.7;
  }
  .nav-link:not(.active):hover {
      opacity: 1;
  }
  .nav-link.active,
  .show > .nav-link {
      color: $white;
    box-shadow: $box-shadow-lg !important;
    opacity: 1;
    background: $primary;
  }
}


.nav-pills.pix-pills-light {
    @include border-radius($nav-pills-border-radius);
  .nav-link {
      -webkit-transition: $transition-base;
      transition: $transition-base;
      font-size: $font-size-base;

      background: transparent;
    i {
        line-height: 1rem;
    }
  }
  .nav-link:not(.active) {
      opacity: 0.7;
  }
  .nav-link:not(.active):hover {
      opacity: 1;
  }
  .nav-link.active,
  .show > .nav-link {
      color: $primary;
    box-shadow: $box-shadow-lg !important;
    opacity: 1;
    background: $white;
  }
}


.nav-pills.pix-pills-outline {
    @include border-radius($nav-pills-border-radius);
  .nav-link {
      -webkit-transition: $transition-base;
      transition: $transition-base;
      font-size: $font-size-lg *1;
      box-shadow: 0 0 0 2px transparent inset !important;
      background: transparent;
    i {
        line-height: 1rem;
    }
  }
  .nav-link:not(.active) {
      opacity: 0.7;
  }
  .nav-link:not(.active):hover {
      opacity: 1;
  }
  .nav-link.active,
  .show > .nav-link {
      color: $heading-color;
    box-shadow: 0 0 0 2px $body-color inset !important;
    opacity: 1;
  }
}


.nav-pills.pix-pills-line {
    @include border-radius($nav-pills-border-radius);
  .nav-link {
      -webkit-transition: $transition-base;
      transition: $transition-base;
      font-size: $font-size-lg *1;
      box-shadow: 0 0 0 2px transparent inset !important;
      background: transparent;
    i {
        line-height: 1rem;
    }



  }
  .nav-link:not(.active) {
      opacity: 0.7;
  }
  .nav-link:not(.active):hover {
      opacity: 1;
  }
  .nav-link.active,
  .nav-link.active {
     color: $heading-color;
    // box-shadow: 0 0 0 2px $body-color inset !important;
    opacity: 1;
    position: relative;
    &:after {
        content: " ";
        position: absolute;
        background: $primary !important;
        top: 100%;
        border-radius: 3px;
        left: 0%;
        width: 100%;
        height: 3px;
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transition: -webkit-transform 0.2s;
        transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        transition: transform 0.2s, -webkit-transform 0.2s;
        -webkit-transform-origin: right center;
                transform-origin: right center;
        box-sizing: border-box;
        display:block;
        z-index: 100%;

    }
  }
}

.nav-pills.pix-pills-round {
    @include border-radius($nav-pills-border-radius);
  .nav-link {
      -webkit-transition: $transition-base;
      transition: $transition-base;
      font-size: $font-size-lg *1;
      border-radius: 40px;
      background: transparent;
    i {
        line-height: 1rem;
    }
  }
  .nav-link:not(.active) {
      opacity: 0.7;
  }
  .nav-link:not(.active):hover {
      opacity: 1;
  }
  .nav-link.active,
  .show > .nav-link {
      color: $white;
    box-shadow: $box-shadow-lg !important;
    opacity: 1;
    background: $primary;
    border-radius: 40px;
  }
}



.nav-pills.pix-pills-lines {
    @include border-radius($nav-pills-border-radius);
  .nav-link {
      -webkit-transition: $transition-base;
      transition: $transition-base;
      font-size: $font-size-lg *1;

      background: transparent;
    i {
        line-height: 1rem;
    }
  }
  .nav-link:not(.active) {
      opacity: 0.7;
  }
  .nav-link:not(.active):hover {
      opacity: 1;
  }
  .nav-link.active,
  .show > .nav-link {
      color: $white;
    box-shadow: $box-shadow-lg !important;
    opacity: 1;
    background: $primary;
  }
  .pix-tabs-line {
      height: 1px;
      background: $body-color;
      width: 100%;
      display: block;
      opacity: 0.5;

  }
}

@media (max-width: 991px) {
    .nav-pills.pix-pills-lines {
        .pix-tabs-line {
            display: none;
        }
    }
    .pix_tabs_btns .nav-link {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

.nav-pills.pix-pills-primary {
    .nav-item {
        a {
            -webkit-transition: $transition-base;
            transition: $transition-base;
            &.active {
                opacity: 1;
            }
            &:not(.active) {
                opacity: 0.5;
            }
        }
    }
    .nav-link.active,
    .show > .nav-link {
      box-shadow: $box-shadow-lg !important;
      opacity: 1;
      background: $primary !important;
    }
}
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.menu-item-no-link, .menu-item-no-link * {
    cursor: default !important;
}
