//
// Typography
//
body {
    // letter-spacing: -0.1px;
    letter-spacing: $letter-spacing-base;
    font-weight: $font-weight-normal;
    font-family: '#{$font-family-base}', sans-serif !important;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    -webkit-text-size-adjust: 100%;
    font-display: swap;
}

.body-font {
    font-family: '#{$font-family-base}', sans-serif  !important;
    letter-spacing: $letter-spacing-base;
}
.secondary-font, .heading-font {
    font-family: '#{$font-family-secondary}', sans-serif  !important;
    letter-spacing: $letter-spacing-secondary;
}

.font-weight-extra-bold { font-weight: 900; }

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
 }

a {
    color: $link-color;
    -webkit-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    @include hover {
        color: $link-hover-color;
        -webkit-text-decoration: $link-hover-decoration;
                text-decoration: $link-hover-decoration;
        -webkit-transition: $transition-base;
        transition: $transition-base;
    }
    &:focus,
    &.focus {
        -webkit-text-decoration: $link-hover-decoration;
                text-decoration: $link-hover-decoration;
        box-shadow: none;
    }

}

.wpb_text_column , .wpb_content_element, .comment, .product .tab-content {
    ul {
        list-style: initial !important;
    }
}

// Blockquotes
.blockquote {
    font-size: $font-size-base;
}

.blockquote-footer {

  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

// Type display classes
.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
}
.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
  line-height: $display-line-height;
}
.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
}
@media screen and (max-width: 992px) {
    $font_mobile_cof: 0.6;
    h1, .h1 { font-size: $h1-font-size * $font_mobile_cof; }
    h2, .h2 { font-size: $h2-font-size * $font_mobile_cof; }
    h3, .h3 { font-size: $h3-font-size * 0.65; }
    h4, .h4 { font-size: $h4-font-size * 0.75; }
    h5, .h5 { font-size: $h5-font-size * 0.85; }
    h6, .h6 { font-size: $h6-font-size * 0.95; }
    .display-1 {
      font-size: $display1-size * $font_mobile_cof;
      line-height: 1.1;
    }
    .display-2 {
      font-size: $display2-size * $font_mobile_cof;
      line-height: 1.1;
    }
    .display-3 {
      font-size: $display3-size * $font_mobile_cof;
      line-height: 1.1;
    }
    .display-4 {
      font-size: $display4-size * $font_mobile_cof;
      line-height: 1.1;
    }
}


.post.type-post .entry-content {
    > h1, > h2, > h3, > h4, > h5, > h6 {
        position: relative;
        margin-bottom: 0.75rem;
    }
}
