// original
$middle-gradient: false;
$gradient-primary-1: #fe2060 !default;
$gradient-primary-middle: #ff6c5f !default; // Optional
$gradient-primary-2: #4100ff !default;
// $gradient-primary-1: #E94057 !default;
// $gradient-primary-middle: #E94057 !default; // Optional
// $gradient-primary-2: #1274E7 !default;

$font-family-base:            'Roboto', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Roboto Slab', serif !default;

// Colors
$primary:       #1274E7 !default;
$secondary:       #E94057 !default;
