// App
$gradient-primary-1: #00d301 !default;
$middle-gradient: true;
$gradient-primary-middle: #36c275 !default; // Optional
$gradient-primary-2: #00a562 !default;


$font-family-base:            'Roboto', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Rubik', sans-serif !default;


// Colors
$primary:       #1274E7 !default;
