// shop
$middle-gradient: false;
$gradient-primary-1: #FF416C !default;
// $gradient-primary-middle: #ff9933 !default; // Optional
$gradient-primary-middle: #FF416C !default; // Optional
$gradient-primary-2: #FF4B2B !default;
// $gradient-primary-2: #ffc168 !default;
// $gradient-primary-2: #ffc20e !default;


$font-family-base:            'Roboto', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Montserrat', sans-serif !default;

// Colors
$primary:       #FF416C !default;
$secondary:       #ff6c5f !default;
