// ebook
$middle-gradient: true;
// $gradient-primary-1: #ff6c5f !default;
// $gradient-primary-1: #ff6a00 !default;
$gradient-primary-1: #c94a57 !default;
// $gradient-primary-middle: #b84592 !default; // Optional
// $gradient-primary-middle: #ff9933 !default; // Optional
$gradient-primary-middle: #c94a57 !default; // Optional
$gradient-primary-2: #b6414d !default;
// $gradient-primary-2: #ffc168 !default;
// $gradient-primary-2: #ffc20e !default;


$font-family-base:            'Lato', sans-serif !default;
$font-family-secondary:       'Lato', serif !default;

// Colors
$primary:       #c94a57 !default;
// $primary:       #ffdd00 !default;
// $primary:       #1274E7 !default;
