// event
$middle-gradient: false;
$gradient-primary-1: #a8e063 !default;
// $gradient-primary-middle: #ff9933 !default; // Optional
$gradient-primary-middle: #a8e063 !default; // Optional
$gradient-primary-2: #56ab2f !default;
// $gradient-primary-2: #ffc168 !default;
// $gradient-primary-2: #ffc20e !default;


$font-family-base:            'Raleway', BlinkMacSystemFont, Helvetica !default;
// $font-family-secondary:       'Open Sans', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Raleway', BlinkMacSystemFont, Helvetica !default;

// Colors
$primary:       #56ab2f !default;
$secondary:       #ff6c5f !default;
