// Marketing
$middle-gradient: true;
$gradient-primary-1: #ff6c5f !default;
// $gradient-primary-middle: #ff9933 !default; // Optional
$gradient-primary-middle: #ff6c5f !default; // Optional
$gradient-primary-2: #ff6c5f !default;
// $gradient-primary-2: #ffc168 !default;
// $gradient-primary-2: #ffc20e !default;


$font-family-base:            'Poppins', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Poppins', BlinkMacSystemFont, Helvetica !default;

// Colors
$primary:       #1274E7 !default;
$secondary:       #ff6c5f !default;
