// Creative
$middle-gradient: true;
$gradient-primary-1: #396afc !default;
$gradient-primary-middle: #396afc !default; // Optional
$gradient-primary-2: #2948ff !default;


$font-family-base:            'Roboto', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Poppins', sans-serif !default;


// Colors
$primary:       #396afc !default;
