// Photography
$middle-gradient: true;
// $gradient-primary-1: #833ab4 !default;
// $gradient-primary-middle: #833ab4 !default; // Optional
// $gradient-primary-2: #833ab4 !default;
$gradient-primary-1: #ffb347 !default;
$gradient-primary-middle: #ffb347 !default; // Optional
$gradient-primary-2: #ffcc33 !default;


// $font-family-base:            'Roboto', BlinkMacSystemFont, Helvetica !default;
$font-family-base:            'Roboto', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Playfair Display', serif !default;
// $font-family-secondary:       'Dancing Script', cursive !default;


// Colors
$primary:       #ffb347 !default;
