// Software
// $gradient-primary-1: #8E2DE2 !default;
// $gradient-primary-middle: #8E2DE2 !default; // Optional
// $gradient-primary-2: #4A00E0 !default;

// $gradient-primary-1: #fcb045 !default;
// $gradient-primary-middle: #fd1d1d !default; // Optional
// $gradient-primary-2: #833ab4 !default;

// Flat colors (App)
// $gradient-primary-1: #fbda00 !default;
// $gradient-primary-middle: #f5a95b !default; // Optional
// $gradient-primary-2: #f40e80 !default;

$middle-gradient: false;
$gradient-primary-1: #00c6ff !default;
$gradient-primary-middle: #00c6ff !default; // Optional
$gradient-primary-2: #0072ff !default;


$font-family-base:            'Open Sans', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Archivo', sans-serif !default;

// Colors
// $primary:       #14d4f6 !default;
$primary:       #0072ff !default;
