// company
// $middle-gradient: true;
$gradient-primary-1: #F27121 !default;
$gradient-primary-middle: #E94057 !default; // Optional
$gradient-primary-2: #8A2387 !default;


$font-family-base:            'Roboto', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Roboto Slab', serif !default;

// $font-family-base:            'DM Sans', BlinkMacSystemFont, Helvetica !default;
// $font-family-secondary:       'poppins', serif !default;

$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
// Colors
$primary:       #1274E7 !default;
// $letter-spacing-base:         -0.1px !default;
// $letter-spacing-secondary:    -0.1px !default;
