// Startup
$middle-gradient: true;
// $gradient-primary-1: #ff6c5f !default;
// $gradient-primary-1: #ff6a00 !default;
$gradient-primary-1: #4ED199 !default;
// $gradient-primary-middle: #b84592 !default; // Optional
// $gradient-primary-middle: #ff9933 !default; // Optional
$gradient-primary-middle: #4ED199 !default; // Optional
$gradient-primary-2: #4ED199 !default;
// $gradient-primary-2: #ffc168 !default;
// $gradient-primary-2: #ffc20e !default;


$font-family-base:            'Nunito', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Nunito', sans-serif !default;

// Colors
$primary:       #4ED199 !default;
// $primary:       #ffdd00 !default;
// $primary:       #1274E7 !default;
