// Crypto
$middle-gradient: false;
$gradient-primary-1: #2143C4 !default;
// $gradient-primary-middle: #ff9933 !default; // Optional
$gradient-primary-middle: #ff6c5f !default; // Optional
$gradient-primary-2: #358FD8 !default;
// $gradient-primary-2: #ffc168 !default;
// $gradient-primary-2: #ffc20e !default;


$font-family-base:            'Poppins', BlinkMacSystemFont, Helvetica !default;
$font-family-secondary:       'Inconsolata', BlinkMacSystemFont, Helvetica !default;

// Colors
$primary:       #358FD8 !default;
// $secondary:       #ff6c5f !default;
